includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 1

    paths:
        - src
#        - tests

    ignoreErrors:
        - '#Construct empty\(\) is not allowed. Use more strict comparison.#'
